@charset "UTF-8";
.topimg{
    position: relative;
}
.header{
    height:140px;
    margin:0 0px 100px 80px;
    background-color:gray;
position: relative;}

    .subtitle{

        display: flex;
justify-content: space-between;

    }
    .subtitle p{
        margin-top: 23px;
    }

.header h1{
    font-size: 24px;
    padding-top: 20px;
}

.main{
    height: 700px;
}

.menu{
   
    height: 57px;
    padding: 20px;
    margin-right: 60px;
    margin-top: 4px;
    border: 1px solid white;
   
}
.menu ::before{
    content:"";
    display: block;
    border-top: 1px solid white;
width:700px;
height: 1px;
position:absolute;
top:52px;
left: 4px;
}
   .menu ul{
        list-style: none;
        display: flex;
    }
.menu ul li{
    margin: 0 16px 0 16px;
}

.slidetxt{

    position: absolute;
    top:300px;
    left: 100px;
    z-index: 3;
    font-size: 24px;
}

.contactmini{
    position: absolute;
    height: 180px;
    width: 600px;
    background-color: chartreuse;
    opacity: 0.4;
text-align: center;
  top: 500px;
  left: 860px;
color: #ffffff;
}
.contact_minibox span{
    font-size: 28px;
display: block;
    margin: 10px;}

    .contact_minibox p{
        margin: 5px;
    }
.contact_minibox{

    width:600px;
text-align: center;
}


.contact_minibox2{
    height: 110px;
    width: 600px;
    display: flex;
 
margin: 10px;
text-align: left;
}
.contact_box2{ 
    height: 70px;
    width: 280px;
 text-align: center;
background-color: rgb(40, 172, 128);

}


.contacttxt{
    background-color: rgb(255, 0, 144);
    width: 250px;
    margin-left: 20px;
}
.date{
    height: 50px;
    background-color: aqua;


}
.datenews{
    height: 50px;
    width: 80px;
    background-color: blue;
    text-align: center;
  
}
.date span{
    color: blue;
    display: inline-block; 
  
}
.date p{
    display: inline-block;
    padding: 18px;
}

.inner{
    margin: 0 10px;
}


.about .aboutimg{
    height: 230px;
    width: 260px;
    clip-path: polygon(5% 20%, 50% 0, 95% 20%, 95% 80%, 50% 100%, 5% 80%);
    /* clip-path: polygon(頂点Aの座標,頂点Bの座標,頂点Cの座標,頂点Dの座標) */
}

.aboutimgbox{
    width: 800px;
    height: 600px;
    flex-wrap: wrap;
}