@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.header{
    height: 122px;
    width: auto;
    position: absolute;
    top: 50px;
    left: 106px;
    
}

ul {
    display: flex;
    list-style: none;
    
    width:440px ;
    height: 27px;
    justify-content: space-between;
  }


.ul li{   
    
    display: inline-block;
    list-style: none;
   
    
}
.nav{
    height:27px ;
    width: 440px;
   
   margin-left: 510px;
   display: flex;
   display: inline-block;
    float: right;
}

.mainimg{
    height: 654px;

    background-color: rgb(141, 141, 55);
   
}

.titleimg{
    height:auto;
    width: 270px;
    float: left;
   }
.titleimgbox{
    width: 270px;
    display: inline-block;
}


.tabi1{
    height: 600px;
    width:400px;
    margin: 110px 300px 200px 522px;
    text-align: left;
}
.tabi-inner{
    height: auto;
    width: 500px;
    margin: 30px;
    font-size: 20px;
}





.tabi2{
    height: 500px;
    width: 800px;
  margin: 100px 315px 100px 310px;

}
.tabi2box{
    height: 100px;
    
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.tabi2-inner1{
   height: 50px;
   width: 100px; 
   margin: 50px;
   display: inline-block;
   font-size: 16px;
}
.tabi2-inner2{
    height: 50px;
    width: 100px;
    margin: 50px;
  
   
}


.productbox{
    height: 1050px;
    width: 800px;
    margin: 20px 5px 20px 20px;
    display: flex;
   flex-wrap: wrap;

}
.pro-inner1{
    height:400px;
    width: 220px;
    margin: 23px;
    display: inline-block;
}
.pro-inner2{
    height: 340px;
    width: 230px;
    margin-bottom: 10px;

}

.pro-inner3{
    height: 90px;
    width: 180px;
}
.pro-innerimg{
    height: 330px;
    width: 240px;
}