@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
li{   
    list-style:none;}
ul{
    padding-left:0}
.img{
    width:100%}

.header{
    height: 670px;
    display: flex;
   
    justify-content: space-between;
background-color: blanchedalmond;
}


.headerimg{
height: 100px;
width: 270px;
background-color: aqua;
margin: 0 auto;
margin-left :7%;
margin-top: 50px;
margin-right: 130px;

}
.headerimg  img{
    height: 70px;
}
.nav{
  height: 180px;
  width: 500px;

 padding-top: 75px;
float: left;
margin-right: 8%;
}
.navinner{
height: 150px;

margin: 0 auto;

}
.navul li{
display: inline-block;
padding-left: 25px;
font-size: 14px;
}
.navul{
   
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.tabibox{
    height:900px;
    
    padding-left: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: rgb(214, 213, 210);
}
.tabi1{
    width: 480px;
    margin: 0 auto; 
}
.tabiinner{
    width: 400px;
padding-top: 30px;

}

.tabiinner h2{
    font-size: 46px;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 20px;
}
.tabi1 img{
    height: 55px;
padding-left: 70px;
}

.inner{
    width: 800px;
    padding: 0 3px;
    margin: 0 auto;
   
}
.tabi2{
    margin-top:100px;
    margin-right: 5px ;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.morebottom P{
    font-size: 20px;
}
.product-title{
       height: 50px;
  
  padding-bottom: 10px;
    font-size: 12px;
    
   
}

.product-title img{
    height: 8px;
    display: inline-block;
}

.product{
    height: 450px;
    
    display: flex;
}

.productbox{
    height: 450px;
    margin-bottom: 100px;
}
.product-img img{
    width: 240px;
padding-top: 20px;
    margin-left: 20px;
    margin-right: 10px;

}
.producttxt{
    font-size: 20px;
    width: 250px;
    padding: 20px 5px 35px 40px;
    margin-bottom:  40px;
}


    



.tabi3{
    margin-top:100px;
    margin-right: 5px ;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-title{
       height: 50px;
  
  padding-bottom: 10px;
    font-size: 20px;
    
   
}

.post-title img{
    height: 8px;
    display: inline-block;
}

.post{
    height: 850px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.postbox{
    height: 350px;
    display: flex;
    margin-bottom: 30px;
    
}
.post-img img{
    width: 300px;
padding-top: 20px;
    margin-left: 20px;
    margin-right: 10px;

}
.posttxt{
    font-size: 14px;
    width: 500px;
    padding: 20px 5px 35px 40px;
    margin-bottom:  40px;}