@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
li{   
    list-style:none;}
ul{
    padding-left:0}
.img{
    width:100%}

.header{
    height: 700px;
    display: flex;
   
    justify-content: space-between;
background-color: blanchedalmond;
}


.headerimg{
height: 100px;
width: 300px;
background-color: aqua;
margin-left:110px ;
margin-top: 50px

}
.headerimg  img{
    height: 70px;
}
.nav{
  height: 300px;
  width: 800px;
 margin: 0 auto;

}

.navul li{
display: inline-block;

}
.navul{
    margin-top: 70px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}