@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

ul {
    padding-left: 0
}

.img {
    width: 100%
}

.header {
    height: 150px;
    display: flex;

    justify-content: space-between;

}


.headerimg {
    height: 80px;
    width: 270px;
    background-color: aqua;
    margin: 0 auto;
    margin-left: 7%;
    margin-top: 50px;
    margin-right: 130px;

}

.headerimg img {
    height: 70px;
}

.nav {

    width: 500px;

    padding-top: 75px;
    display: flex;
    margin-right: 8%;
}

.navinner {
    width: 350px;
    margin: 0 auto;

}

.navul li {
    display: inline-block;
    padding-left: 25px;
    font-size: 14px;
}

.navul {

    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


.topimg {
    height: 680px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(public/src/main_visual_2-0x0.jpg);
}

.arrow{
background: url(public/img/mainVisual-arrow@2x.png) no-repeat;
}

.tabibox {
  
    font-size: 20px;
    background-color: rgb(214, 213, 210);
}

.tabi1 {
width: 500px;
    margin: 0 auto;
}

.tabiinner:first-child {
    margin: 0 auto;
}
.tabiinner:last-child {
    margin: 0 0 0 60px;
    padding-bottom: 100px;
}

.tabiinner  {
    margin: 0  0 30px 60px;
   

}

.tabiinner h2 {
    font-size: 46px;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 50px;
}

.tabi1 img {
    height: 55px;
    padding-left: 70px;
}

.inner {
    width: 800px;
    padding: 0 3px;
    margin: 0 auto;

}




.tabi2 {
    width: 800px;
    padding-top: 110px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.morebottom P {
    font-size: 22px;
    height: 60px;
}

a.btn_01 {
    display: block;
    text-align: center;

    text-decoration: none;
    width: 160px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 1px solid #27acd9;
    color: #27acd9;
    transition: 0.5s;
}

a.btn_01:hover {
    color: #fff;
    background: #27acd9;
}

.product-title {


    padding-bottom: 10px;
    font-size: 20px;

    background-image:
        url(public/src/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0 bottom;
    padding-bottom: 15px;

}

.product-title img {
    height: 8px;
    display: inline-block;
}

.product {
    width: 850px;
    display: flex;
    flex-wrap: wrap;
}

.productbox:nth-child(3n) {
    margin-right: 0px;
}

.productbox {

    margin-top: 20px;

    margin-bottom: 40px;

}

.product-img img {
    width: 240px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 10px;

}

.producttxt {
    font-size: 20px;
    width: 250px;
    padding: 20px 5px 35px 40px;

}



.tabi3box {
    margin: 0 auto;

    background-color: rgb(205, 205, 205);
}

.morebottom2 {
    width: 150px;
    margin-right: 5px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navspace {
    height: 90px;
}

.tabi3 {
    width: 820px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}




.post-title {


    padding-bottom: 10px;
    font-size: 20px;

    background-image: url(public/src/sectionTitle-underLine@2x.png);
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: 70px;
    padding-bottom: 16px;
}

.postinner {
    height: auto;
    margin-bottom: 30px;
}

.post {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.postbox {

    margin: 0 auto;
    display: flex;

    margin-top: 30px;

}

.post-img {
    width: 40%;
    margin: 0 auto;
}

.post-img img {
    width: 100%;
    padding-top: 20px;
    display: inline-block;
    margin-right: 10px;

}

.posttxt h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.posttxt {
    width: 55%;
    font-size: 13px;
    margin: 0 auto;
    margin-left: 20px;
    margin-bottom: 40px;
}

.posttxt-1 {
    margin-top: 20px;

}


.backtop {
    height: 40px;
    text-align: center;
    justify-content: end;
    background-color: rgb(205, 205, 205);
}


#scroll-to-top-btn{
   
   
    height: 50px;
    width: 50px;
    color: #090909;
    font-size: 32px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    outline: none;
    transform: rotate(-90deg);
   
    }


.share {
    height: 60px;
    width: 500px;
    margin: 30px auto;
    justify-content: space-between;

    align-items: center;
}

.bottombox {
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.sharebottom1 {
    height: 50px;
    width: 160px;
    text-align: center;
    padding-top: 15px;
    border-top: solid 1px blue;
    border-left: solid 1px blue;
    border-right: solid 1px blue;
    border-bottom: solid 1px blue;

}

.sharebottom2 {
    height: 50px;
    width: 160px;
    text-align: center;
    padding-top: 15px;
    border-top: solid 1px blue;
    border-left: solid 1px blue;
    border-right: solid 1px blue;
    border-bottom: solid 1px blue;
}

.sharebottom3 {
    height: 50px;
    width: 160px;
    text-align: center;
    padding-top: 15px;
    border-top: solid 1px blue;
    border-left: solid 1px blue;
    border-right: solid 1px blue;
    border-bottom: solid 1px blue;
}

.undernav {

    height: 80px;
    padding-top: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: aqua;

}

.navinner {
    width: 500px;

}

.footercover {
    background-color: rgb(86, 86, 86);
}

.footer {

    height: 150px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.footerimg {

    width: 90px;
}

.footerimg img {
    width: 90px;
}

.footertxt {
    color: #fff;
   
    font-size: 8px;
}
