@charset "UTF-8";



  .section {
    max-width: 800px;
    height: 400px;
     /*ここの高さがスライダー本体の高さになりそう*/
    margin: 0 auto;
    padding: 30px 0;
  }
  .sliderArea.w300 {
    max-width: 300px;

  }
 
     /*.sliderArea .slick_space{
  height:350px *section ちゃんとしてたらいらない気がする
       max-width: 100%;
       margin: 10px auto;
       padding: 0 25px;
     
       }*/
.slider {
  width:1600px;

    line-height: 0;
    /* font-size: 0; ← こちらでも、余白がなくなります */
    font-size: 0;
  max-width: 100%;
  margin: 0 auto 80px;
  position: relative;
}


.slider .slick-list {
    overflow: visible;}


.slick-slide {
  
	margin: 0 20px;
}
.slick-slide img {
	width: 100%;
	

}
.slick-prev, .slick-next {
	z-index: 1;
}


.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}
.slick-active {
	opacity: 1;
}
.slick-current {
	opacity: 1;
}
.thumb {
	margin: 20px 0 0;
}
.thumb .slick-slide {
	cursor: pointer;
}
.thumb .slick-slide:hover {
	opacity: .7;
}

/*====================================================================
以下は不要です。
====================================================================*/
body {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  letter-spacing: .025em;
  line-height: 1.8;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
.section {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}
.section p._a {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 0 0;
}
.section p._a .link {
  display: inline-block;

  padding-left: 1.3em;
  text-indent: -1.3em;
}
.section p._a .link:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
 
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 10px;
}
.slick-slide {
  display: none;
  float: left;
  min-height: 1px;}

  
/*slick setting*/

 .slick-slide:not(.slick-center) {
  -webkit-filter: opacity(70%);
  -moz-filter: opacity(70%);
  -o-filter: opacity(70%);
  -ms-filter: opacity(70%);
  filter: opacity(70%);
  transition: 0.2s linear;
}




.slide-arrow{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: aqua;
  top:160px;
  border-radius: 100%;
  
}
.slide-arrow:before{
content:"";
position:absolute;
height: 40px;
width: 40px;
background-color: chartreuse;
border-radius: 100%;
top:4px;
left:3px;
}

.slide-arrow::after{
  position:absolute;
  content:"";
  border-top:3px solid black;
  border-left:3px solid black;
  height: 10px;
  width: 10px;
 top:18px;

}
.next-arrow{
  position: absolute;
  right:3%}
.prev-arrow::after{
  transform: rotate(-45deg);

}
.next-arrow{
  position: absolute;
  right:3%;
}.next-arrow::after{
  transform: rotate(135deg);
  position: absolute;
  left:14px;
}