


@charset "UTF-8";

*{margin: 0;
  padding: 0;  
}

* {
  box-sizing: border-box;
}

.body{
  
  overflow: hidden;
  overflow-y: scroll;
}


.header{

background-color:  #3e5faa;
}

.headerinner{
  background-color: #3e5faa;
  margin-left: 4%;
  height: 120px;
  width: 1040px;
  margin: 0 auto;
}

  .inner{
 margin: 0 auto;
padding:0 8px;
    width: 1024px;
   
}


.navwarp{
  padding-top: 16px;
    padding-left: 26px;
    
  display: flex;
  justify-content: space-between;

}

  .logo{
    height: 50px;
    margin-left: -16px;
  }

  .snav{
    display: flex;
    padding-right: 8px;
  }
  .snav ul{
  display: flex;
list-style: none;
margin-top: 8px;

}

.snavul1{
  color: #ffffff;
  margin-top: 10px;
margin-right: 14px;
  font-size:10px;
}
.snavul1 li{
  margin: 6px 10px;
  text-align:center;
}

.snavul2 li{
  margin: 0 auto;
 display: inline;
 margin-right: 3px;
  margin-left: 3px;
  padding: 6px 0;
  font-size: 9px;
  color: #fff;
  text-align: center;
 width: 74px;
 height: 24px;
  background-color: #7590cf;
  border-radius: 3px;
}
.gnav{
  width: 1040px;

}
  .gnav ul{
 
    list-style: none;
   justify-content:  center;
    margin: 10px 0 0 12px ;
    width: 1040px;
  
   
  }
.gnav ul li{
  position: relative;
  padding: 10px 38px;
  
  text-align: center;
  background-color: rgb(219, 243, 243);
  border-radius: 5px;
  margin: 4px 4px;
font-size: 10px;
height: 34px;
display: inline-block;
}



.gnav ul li::before{
  content: '';
  
  width:0.3px;
  height:30px;
  background-color:#ffffff;
  position:absolute;
  top:3px;
  right:-7px;}

  .sliderArea { 
    max-width: 900px;
    height: 488px;
   margin: 0 auto;;
   
    padding: 20px 20px 20px 20px;}
  



  /* 最初のスライダーのスタイル */
  .slider{
    width:2800px;
  
      line-height: 0;
      /* font-size: 0; ← こちらでも、余白がなくなります */
      font-size: 0;
    max-width: 100%;
    margin: 0 auto 40px;
    position: relative;
  }
  .slick1-img{
    position: relative;
   
  }
  
  .slider-img img{
    height: 400px;
   width: 800px;
   border-radius: 8px;
  
  
   
  }
  .slider .slick-list {
    overflow: visible;}
  
  
  
  
  
  
  .slider {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto 80px;
    position: relative;
  }
  
  
  .slider .slick-list {
      overflow: visible;}
  
  
  
  .slick_space{
   
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }
  .slick_space.w300 {
    max-width: 300px;
  }
 
    
   
  
  .slider_1 .slick-slide img {
    width: 117%;
  padding: 20px;

    margin: 14px 0 0 0 ;

  }
  .slick-prev, .slick-next {
    z-index: 1;
  }
  .slick-prev:before, .slick-next:before {
    color: #ccff02;
  }
  .slider_1.slick-slide {
    display: none;
    float: left;
    min-height: 1px;
    transition: all ease-in-out .3s;
    opacity: .5;
    margin: 0 20px;
    
  }

  
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .thumb {
    margin: 20px 0 0;
  }
  .thumb .slick-slide {
    cursor: pointer;
  }
  .thumb .slick-slide:hover {
    opacity: .7;
  }
  
  

  
.slide-arrow{
    width: 58px;
    height: 58px;
  background-color: rgb(255, 255, 255);
  position: absolute;
    border-radius: 100%;
  
  border: #fff;
  z-index: 4;
  }
  
  
    
  
  .next-arrow::after {
    content: "";
    position: absolute;
    top:202px;
    left: 150px;
    width: 12px;
    height: 12px;
    
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    z-index: 100;
    
    }
    
  

  .slide-arrow::after {
    content: "";
    position: absolute;
    top:24px;
    left: 22px;
    width: 12px;
    height: 12px;
    
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    z-index: 100;
    
    }
  
  
    
    
    .slide-arrow::before{
      height: 50px;
      width: 50px;
      content: '';
      position: absolute;
      z-index: 5;
      background-color: #206fc9;
      border-radius: 100%;
      top: 9%;
      left: 8%;
    }
    
  
  
  .prev-arrow:after{
    transform: rotate(45deg);
  
  }
  .slider_1 .prev-arrow{
    position: absolute;
    top:86%;
    left: 16%;
  }
  
  .next-arrow::after {
    transform: rotate(225deg);}
  
  
    .slider_1 .next-arrow{
    position: absolute;
    top:82%;
    left:82%;
  }
    
  .slider-osirase figcaption {
    position: absolute;
    margin-top: 26px;
   margin-left: 60px;

 
    height: 30px;
    font-size: 16px;
    
    }
  
  .slider-cp figcaption {
    position: absolute;
    margin-top: 26px;
   margin-left: 90px;

 
    height: 30px;
    font-size: 16px;
    
    }
 .slider-cp .slider-osirase{
 display: block;}



 
.slider-osirase span{
position: absolute;
top:-16px;
left: -60px;
 margin: 0 20px 0 0;
 background-color: rgb(224, 196, 38);
 height: 16px;
 
 padding:16px 5px;
 border-radius: 3px;
 font-size: 12px;

}

   .slider-cp span{
   position: absolute;
   top:-16px;
   left: -90px;
    margin: 0 20px 0 0;
    background-color: rgb(198, 79, 188);
    height: 16px;
    
    padding:16px 5px;
    border-radius: 3px;
    font-size: 12px;
   
   }


    .slick-active figcaption{
    text-decoration:underline; }

.search2{
  padding: 10px 0;
  background-color: #dce600;
}


.search_search{
  position: relative;
  width: 1020px;
  margin: 0 auto;
 display: flex;
}



.search_box_s{
  padding-left: 5px;
  position: relative;
  height: 140px;
width: 375px;
margin: 3px 2px 3px 10px;
background-color: #ffffff;
border-radius: 5px;

padding-top: 90px;
text-align: center;
}

.search_box_sss{
  position: relative;

  margin:3px 2px 3px 10px;
  border-radius: 5px;
  height: 140px;
  width: 240px;background-color: #ffffff;
  padding-top:90px;
  text-align: center;
}

.search_box_s span{
  font-size: 18px;

}
.search_box_ss span{
  font-size: 18px;

}
.search_box_sss span{
  font-size: 18px;

}

.search_box_s ::after{
  position: absolute;


  top:25%;
  left: 45%;
 
 content: '';/*何も入れない*/
  display: inline-block;
  width: 46px;/*画像の幅*/
  height: 46px;/*画像の高さ*/
  background-image: url(public/src/ico_search01.png);
  background-size: contain;
  vertical-align: middle;
}
.search_box_ss ::after{
  position: absolute;

 top:25%;
 left: 45%;

 content: '';/*何も入れない*/
  display: inline-block;
  width: 46px;/*画像の幅*/
  height: 46px;/*画像の高さ*/
  background-image: url(public/src/ico_search02.png);
  background-size: contain;
  vertical-align: middle;
}
.search_box_sss ::after{
 

  padding-right: 5px;


 position: absolute;


 top:15%;
 left: 25%;

 content: '';/*何も入れない*/
  display: inline-block;
  width: 120px;/*画像の幅*/
  height: 120px;/*画像の高さ*/
  background-image: url(public/src/ico_search03.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
}






  .inner{
    margin: 0 auto;
   padding:0 8px;
       width: 1024px;
      
   }
 .news{
  width: 1024px;
  text-align: center;
  height: 350px;
  margin: 50px auto 58px auto;
 } 

.news h2{
  font-size: 16px;
  text-align: center;
  margin:0px 0 30px 0;
  position: relative;

}
.news h2::before{
  content:"…………………………" ;
  padding-right: 20px;
  color: #3e5faa;
  font-size: 22px;

}
.news h2 ::after{
  content:"…………………………" ;
padding-left:20px ;
color: #3e5faa;
font-size: 22px;

}
.news_day{
  padding: 9px 0 ;
  font-size: 10px;
  color: #848484;
}
.news_day a{
  margin-left: 28px;

}

.news_box{
 position: relative;
  text-align:left;
  width: 1020px;
  padding: 10px 0 0 6px;
  margin-bottom: 14px;

}
.news_day span ::before{
  position: absolute;
  content: '';
  height:8px;
  width: 8px;
 left: 74px;
  border-top:1px solid black ;
  border-left:1px solid black ;
  transform: rotate(135deg);
}
.newsimg{
  width: 332px;
  height: 160px;
  margin-left: 27px;
  position: absolute;
  content: "";
  left:65%;
 top: 6%;
 border-radius: 5px;
padding-bottom: 2px;
border-bottom:1px solid gray ;
}

.news_btn_box{
  background-color:#ffffff;
  border:#3e5faa;
  color:rgb(0, 0, 0);
  border:2px solid #848484;
  padding: 12px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 12px 2px 6px;
  cursor: pointer;
border-radius: 5px;
text-align: center;
}
.news_btn_box2{
  background-color:#3e5faa;
  border:#3e5faa;
  color:rgb(255, 255, 255);
  border:2px solid #3e5faa;
  padding: 12px 134px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 2px;
  cursor: pointer;
border-radius: 5px;
position: relative;}

.news_btn_box2::before{
  position: absolute;
  content: '';
  height: 8px;
  width:8px;
 left: 310px;
  border-top:2px solid rgb(255, 255, 255) ;
  border-left:2px solid rgb(255, 255, 255) ;
  transform: rotate(135deg)
}



.event{
margin: 0 auto;
  height:342px;
  position: relative;
  background-color: #f2e7c4;

}
.eventimg {
position: relative;
  ;}

.eventimg h2{
  margin-top: 20px;
  font-size: 16px;
width: 340px;
  background-image: url(public/src/event_title.png);
  position: absolute;
  height: 72px;
  width: 500px;
  text-align: center;
  top:-20px;
  left: 50%;
  padding: 20px;
  transform: translate(-50%,-50%)
}
.event_slick{

  height: 200px;
 
}


.sliderArea2 { 
  max-width: 420px;
  height: 380px;
 margin: 0 auto;

  padding: 60px 30px 30px 20px;}

/* 最初のスライダーのスタイル */
.slider2{
width:800px;

  line-height: 0;
  /* font-size: 0; ← こちらでも、余白がなくなります */
  font-size: 0;
max-width: 100%;
margin: 0 auto 80px;
position: relative;
}
.slick2-img img{
height: 350px;
width: 450px;

}


.slider2 .slick-list {
overflow: visible;}

/* スライダーのコンテナスタイル */
.slick2 {

background-color: beige;
margin: 0 auto ;
height: 388px;
}

.sliderArea2.w300 {
  max-width: 400px;}

.slider-2nd .slick-slide img {
  width: 100%;
  height: auto;
padding: 10px;
}
.slick2-img{
  height: 260px;
  width: 500px;
 margin:18px 10px 70px 10px;
 
background-color: #fff;}

/* ひとつひとつのスライドのスタイル */
.slider2 figure {
margin: 0 20px;

max-width: 700px;
}
.slick2-img figcaption {
margin-top: 20px;
text-align:left;
color: #000;
height: 30px;
font-size: 12px;

}


.slick-prev, .slick-next {
z-index: 1;
}
.slick-prev:before, .slick-next:before {
color: #000;
}
.slider-2nd .slick-slide {
transition: all ease-in-out .3s;

margin: 0 5px;
}
.slick-active {
opacity: 1;
}
.slick-current {
opacity: 1;
}
.thumb {
margin: 20px 0 0;
}
.thumb .slick-slide {
cursor: pointer;
}
.thumb .slick-slide:hover {
opacity: .7;
}

@media screen and (max-width: 768px) {

.slick2 {
  padding: 10vw 0;
}

/* スライダーのコンテナスタイル */
.slick2{
  width: 100%;
}
/* ひとつひとつのスライドのスタイル */
.slick2 figure {
  width: 80vw;
}
}

.slick-img .slick-slide{
  width: 500px;
}





.slick-prev{
height: 50px;
width: 50px;
color: pink;

}
.slick-prev::after {
position: absolute;
top:-200%;
left: -15px;
content:'';
height: 50px;
width: 50px;
border-radius: 100%;
font-size: 150px;

color: #d41b1b;

z-index: 9;}


.slick-prev::before {
content:'';
border-bottom: 20px solid #000000;
border-top: 20px solid #000000;
font-size: 60px;
position: absolute;


color: rgb(22, 119, 98);
}


.slick-next:before{ 
content: '→';
height: 100px;
width: 100px;

color: black;
z-index: 100;




z-index: 100;}

.slick-next{
z-index: 100;
  right: 1% ;
display: inline-block;
  position: absolute;
  top: 25%;
  right: 10%;

}


.slick-next::after{
z-index: 7;
right: 1% ;color: rgb(226, 74, 74);
content: '●';
display: inline-block;
position: absolute;
top: 18px;
right: -55px;
opacity: .9;
}

.slick-next:before {
color: #000;
font-size: 60px;

}





.otoku_inner{
 background-color: rgb(203, 248, 248);
 margin: 0 auto;
padding: 0 8px;
padding-top: 50px;
padding-bottom: 40px;

}

.otoku{
width: 1024px;
  
  border-radius: 5px;

  margin: 0 auto;
background-color: #fff;
border: 2px solid rgb(136, 136, 136);

}
.otoku h2{
  background-color: #d6f078;
  display: inline-block;
  height: 60px;
  width: 280px;
  text-align: center;
  padding: 20px 50px;
  font-size: 18px;
}

.otoku_box{
  padding: 14px 10px;

  background-color: #fff;
  display: flex;
  position: relative;
}

.tirasi{
  width: 500px;
  height: 170px;
  text-align: left;
  background-color: #d6f078;
  border-radius: 5px;
  }
  .tirasi img{
    height: 60px;
    margin-top: 50px;
    margin-left: 36px;
  }
  .tirasi span{
    display:inline-block;
    margin-left: 10px;
   position: absolute;
   top:44%;
   font-size: 12px;
  
  }
.maga{
  width: 500px;
  height:170px;
  border: 8px solid #d6f078;
  text-align: left;
 margin-left:  10px;
 border-radius: 5px;

}
.maga img{
  height: 36px;
  margin-top: 60px;
  margin-left: 36px;
}
.maga span{
  display:inline-block;
  margin-left: 10px;
 position: absolute;
 top:48%;
 font-size: 12px;

}

.moves{
  margin-top: 40px;
  margin-bottom: 40px;
  height: 420px;
  width: 1040px;
  position: relative;
}
.move_logo{
  height: 60px;
}
.move_logo img{
  margin-top: 20px;

width: 58px;
  position: absolute;
  left: 46%;
}

.move_cnl{
  height: 200px;
  display: flex;
margin-top: 20px;
display: block;
text-align: center;
;

}
.move_cnl h2{
  margin: 10px auto 30px;
  font-size: 16px;
  position: relative;
}
.move_cnl h2::before{
  content:"・・・・・・・・・" ;
  padding-right: 20px;
  color: #3e5faa;

}
.move_cnl h2::after{
  content:"・・・・・・・・・" ;
  padding-right: 20px;
  color: #3e5faa;

}



.move_box{
  display: flex;
 text-align: left;
 position: relative;
 margin-bottom: 20px;
 
}
.move_link_box span{
  position: absolute;
  left: 1%;
}
.move_link{
  margin: 5px 5px 12px 5px;
}

.move_btn{
  width:200px;
  margin: auto;
 
    text-align: center;
  }
.move_btn_box{
  background-color:#3e5faa;
  border:#3e5faa;
  color:rgb(255, 255, 255);
  border:2px solid #3e5faa;
  padding: 10px 20px;
  width: 320px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-top: 30px;
  cursor: pointer;
  position: absolute;
right: 36%;
top: 90%;
border-radius: 3px;
}


.move_btn_box::before{
  position: absolute;
  content: '';
  height: 8px;
  width:8px;
 left: 300px;
  border-top:2px solid rgb(255, 255, 255) ;
  border-left:2px solid rgb(255, 255, 255) ;
  transform: rotate(135deg)
}



.service_inner{
  
  margin: 0 auto;
padding: 0 4px;
padding-top: 40px;
padding-bottom: 40px;

  background-color: #ffffff;
}
.service h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
 position: relative;
}
.service{
  width: 1040px;
  margin: 0 auto;  
  list-style: none;
 


}


.service h2::before{
  content:"・・・・・・・・・" ;
  padding-right: 20px;
  color: #3e5faa;

}
.service h2::after{
  content:"・・・・・・・・・" ;
  padding-right: 20px;
  color: #3e5faa;

}
.service_box{
padding: 0 6px;
  display: flex;
  flex-flow: row wrap;
justify-content: space-between;}

.service_link img{
  width: 334px;
  margin-bottom: 16px;
  border-radius: 5px;

}
.service_link_box{
  margin-bottom: 30px;
}






.open{
position: relative;
  background-color: #c8c8c8;
 
}
.open h2{
  text-align: center;
  font-size: 16px;
padding:25px 10px;
}


.open h2::before{
  content:"・・・・・・・・・" ;
  padding-right: 20px;
  color: #3e5faa;

}
.open h2::after{
  content:"・・・・・・・・・" ;
  padding-right: 20px;
  color: #3e5faa;

}


.opslider_in_btn{
  height: 150px;
  width: 360px;

position: absolute;
top:30px;
left:40%;
margin: 30px;
margin: 0 auto;
}

.opslider_in_btn_box{
  width: 350px;
  position: absolute;
left: 10px;
  bottom: -3%;
}
.opslider_in_btn_box1{
  position: relative;
  background-color:#3e5faa;
  border:#3e5faa;
  color:rgb(255, 255, 255);
  border:2px solid #3e5faa;
  padding: 16px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 5px 2px;
  cursor: pointer;
border-radius: 5px;
}

.opslider_in_btn_box1::before{
  position: absolute;
  content: '';
  height: 8px;
  width:8px;
 left: 125px;
 top:10px;
  border-top:2px solid rgb(255, 255, 255) ;
  border-left:2px solid rgb(255, 255, 255) ;
  transform: rotate(135deg)
}


.opslider_in_btn_box2{
  position: relative;
  background-color:#3e5faa;
  border:#3e5faa;
  color:rgb(255, 255, 255);
  border:2px solid #3e5faa;
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 5px 2px;
  cursor: pointer;
border-radius: 5px;
}

.opslider_in_btn_box2::before{
  position: absolute;
  content: '';
  height: 8px;
  width:8px;
  top:10px;
 left: 125px;
  border-top:2px solid rgb(255, 255, 255) ;
  border-left:2px solid rgb(255, 255, 255) ;
  transform: rotate(135deg)
}




.sliderArea3{
  height: 400px;

  width:7600px;
}

  /* 3番目のスライダーのスタイル */
  .slider-3rd{
height: 200px;
    margin: 30px auto;
  
    width: 800px;
      line-height: 0;
      /* font-size: 0; ← こちらでも、余白がなくなります */
      font-size: 0;
    max-width: 100%;
 
    position:absolute;
    left: 320px;
  }

.slick3_box{
    height: 148px;
   
    padding: 30px 36px;
    position: relative;
    content: '';
   text-align: left;
    background-color: #fff;
    margin-bottom: 32px;
    border:1px solid #3e5faa;
    border-radius: 5px;
   
  }


.slick3_box_title{
  text-align: right;
  display: inline-block;
  line-height: 16px;
}

 
  .slick3-img{
    position: relative;
width: 400px;
    }
  

.slider-3rd .slick-slide img{

    width: 55%;
    height: 150px;
    display: inline-block;
}



  
  .slider3 .slick-list {

    overflow: visible;}
  
  
  

  

  

  
  
  .slick_space{
   
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }
  .slick_space.w300 {
    max-width: 300px;
  }
 
    

  .slick-prev, .slick-next {
    z-index: 1;
  }
  .slick-prev:before, .slick-next:before {
    color: #ccff02;
  }


  

   .slick-slide {
    display: none;
    float: left;
    min-height: 1px;
    transition: all ease-in-out .3s;
    opacity: .5;
    margin: -20px 36px;
    height: 200px;
    width: 300px;
  }

  
  .slider3.slick-slide img{
    width: 50%;
    height: auto;
    position: absolute;
  
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .thumb {
    margin: 20px 0 0;
  }
  .thumb .slick-slide {
    cursor: pointer;
  }
  .thumb .slick-slide:hover {
    opacity: .7;
  }
  
  

  
  .slide-arrow{
    width: 58px;
    height: 58px;
  background-color: rgb(255, 255, 255);
  position: absolute;
    border-radius: 100%;
  
  border: #fff;
  z-index: 4;
  }
  
  
    
  
  .next-arrow::after {
    content: "";
    position: absolute;
    top:202px;
    left: 150px;
    width: 12px;
    height: 12px;
    
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    z-index: 100;
    
    }
    
  

  .slide-arrow::after {
    content: "";
    position: absolute;
    top:24px;
    left: 22px;
    width: 12px;
    height: 12px;
    
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    z-index: 100;
    
    }
  
  
    
    
    .slide-arrow::before{
      height: 50px;
      width: 50px;
      content: '';
      position: absolute;
      z-index: 5;
      background-color: #206fc9;
      border-radius: 100%;
      top: 9%;
      left: 8%;
    }
    
  
  
  .prev-arrow:after{
    transform: rotate(45deg);
  
  }
  .prev-arrow{
    position: absolute;
    top:30%;
    left: -3%;
  }
  
  .next-arrow::after {
    transform: rotate(225deg);}
  
  
  .next-arrow{
    position: absolute;
    top:30%;
    left:96%;
  }





























.open_btn{
  text-align: center;
  position: absolute;
  top: 75%;
  left: 40%;
}


.open_btn_box{
  position: relative;
  background-color:#3e5faa;
  border:#3e5faa;
  color:rgb(255, 255, 255);
  border:2px solid #3e5faa;
  padding: 10px 144px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 50px 2px;
  cursor: pointer;
border-radius: 5px;
}

.open_btn_box::before{
  position: absolute;
  content: '';
  height: 8px;
  width:8px;
 left: 300px;
  border-top:2px solid rgb(255, 255, 255) ;
  border-left:2px solid rgb(255, 255, 255) ;
  transform: rotate(135deg)
}



.opslider_in_btn figcaption {
  position: absolute;
  margin-top: 26px;
margin-left: 20px;
 line-height: 16px;

  height: 30px;
  font-size: 16px;
  
  }












.shop{ 
  padding-top: 40px;
  height: 600px;
  list-style: none;
  background-color: antiquewhite;
}
.shop_inner{
  margin: 0 20px;
  width: 1020px;
  margin: auto;
}
.shop_box{
  height: 148px;
 
  padding: 30px 36px;
  position: relative;
  content: '';
  background-color: #fff;
  margin-bottom: 32px;
  border:1px solid #3e5faa;
  border-radius: 5px;
}

.shop_box_title{
  font-size: 18px;
  margin-bottom: 10px;
}
.shop_box span{
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.1em;
  }
.shopimg{
  position: absolute;
  top:0;
  right: 0;
  height: 146px;
  width: 332px;

}

.recruit_in_box{
  display: flex;
 flex-flow: row wrap;
justify-content: space-between;

margin-bottom: 30px;
}

.recruit_link_box{
     display: flex;
    flex-flow: row wrap;
  justify-content: space-around;

margin-bottom: 30px;
}

.recruit_link img{
    width: 330px;
    margin-bottom: 16px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
  
  }
  .sns{
    padding: 6px 16px 6px;
  height: 600px;

margin: auto;
    background-color:#3e5faa;
  }
.fbox{

  width: 340px;
}
.sns_box{
  margin: 0 auto;
  width: 1020px;
display: flex;
justify-content:space-between;
padding-bottom: 30px;
padding-top: 10px

}
.sns_box2{
 width: 330px;
}
.sns h2{
  color: #fff;
  font-size: 14px;
  margin:14px;
}
.sns_box img{
  height: 140px;
  width: 330px;
}
.footersec{background-color: #3e5faa;
  padding-top: 10px;

}
  .footer{
background-color: #3e5faa;
    width: 620px;
    text-align: center;
    margin: auto;
  }
  .footer_box  {
    text-align: center;
    display: block;
    display: flex;
  justify-content: space-between;
    
    margin: 0px auto;
  }

  .footer ul li{
    font-size: 10px;
   margin: 0px 10px;
   letter-spacing: 0.05em;
   font-size: 9px;
   color: #ffffff;
  }
  .footer p{
   
    font-size: 8px;
    letter-spacing: 0.05em;
    padding: 20px 0 10px ;
    color: #ffffff;
  }
