/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}



.headerinner {
padding: 40px 0 0 50px;
  
  height:100px;

  display: flex;
  justify-content: space-between;

}

.bbb {
  width: 50px;
 

  color: #ffffff;
  background-color: #a52a2a;

}

.nav {
  height: 75px;
  width: 100px;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  right: 0;

}
.hbtn{
  height: 100px;

  background-color: #00CC99;

}

.menu {
  color: aqua;

}

.menubtn {
  text-align: center;
  height: 60px;
  width: 9px;
  background-color: aqua;
  padding: 10px 5px 10px 5px;
  transition: 4s;

  display: block;

}




.mainvisual{
  height: 720px;

  margin-bottom: 120px;
  position: relative;}
.fade{ 
  width: auto;
}



  .fade li img{
    width: 100%;
    height: 720px;
    object-fit: cover;
  }

.fade li::after{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}

.fade  li{
  width: 75%;
  content: "";
  top:0;
  right: 0;
  height: 720px;
 opacity: 0;
  position: absolute;
  animation: fade 15s ease-out forwards infinite}

  .fade li:nth-of-type(1) {
    animation-delay: 0s;
  }
  .fade li:nth-of-type(2) {
    animation-delay: 5s;
  }
  .fade li:nth-of-type(3) {
    animation-delay: 10s;
  }


@keyframes fade{
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }}

.maintxt {
  font-size: 36px;
  width: 350px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 10;
  line-height: 1.5;
  margin-bottom: 30px;

}

.maintxt1 {
  text-shadow: 0 0 4px 6px #fff;
  margin-bottom:30px;
}


.mainbtn {
  text-align: center;
  padding: 15px 10px 10px 10px;
  width: 320px;
  height: 60px;
  box-shadow: 0px 5px #33fc97;
  margin: 0 auto;
  font-size: 20px;
  display: block;
  border-radius: 10px;
  color: #ffffff;
  background-color: #af5353;
  border: solid 1px #9c4c4c;
  transition: .4s;
  position: absolute;
}

.mainbtn:hover {
  transform: scale(1.1, 1.1);
}

.mainbtn::after {

  content: "";
  width: 16px;
  height: 16px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg);
  position: absolute;
  margin-top: 5px;

}
.maininner {
  width: 100%;
  margin: 0 auto;

  max-width: 860px;
}

.reasontitle {
  height: 70px;

}

.reasontitle h2 {
  text-align: center;
  font-size: 26px;
  position: relative;

}

.reasontitle h2::after {
  content: "";
  border-bottom: solid 3px #000000;
  position: absolute;
  height: 10px;
  width: 100px;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  display: block;
}




.reason {
  background-color: brown;
  padding-top: 80px;
  margin-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 130px;
}

.reasontitle h2 {
  position: relative
}

.reasontitle h2 ::before {
  content: '『';
  color: black;
  position: absolute;

}

.reasontxt span {
  color: #a52a2a;
  font-size: 22px;
  margin-top: 10px;
 
}

.reasontxt P {
  font-size: 14px;
  margin-top: 10px;
}

.reasonboxl {
  height: 190px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  margin-bottom: 40px;
  animation: SlideIn 1s;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    transform: translateX(-60px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.reasonimgl img {
height: 60px;

  margin:  0 34px 0 0;
}

.reasonboxr {
  height: 190px;
  display: flex;
  width: 50%;

  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
 
  padding-right: 50px;
  margin-left: auto;
  animation: SlideIn2 1s;
}

@keyframes SlideIn2 {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    transform: translateX(64px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.reasonimgr img {

  height: 60px;
margin:  0 30px 0 50px;
}




.voice {
  text-align: center;

  margin-bottom: 100px;
}

.voicecbox {
  height: 40px;

  background-color: #fff;
}




.voicetitle {
  height: 20px;
  margin-bottom: 110px;
  position: relative;
}

.voicetitle h2 {
  text-align: center;
  font-size: 26px;

}

.voicetitle h2::after {
  content: "";
  border-bottom: solid 3px #000000;
  position: absolute;
  height: 10px;
  width: 100px;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  display: block;
}


.voiceimg img {
  background-color: darkgray;
  border-radius: 50%;
  width: 120px;
  margin-top: 10px;


}



.voicenametxt {
  margin-top: 10px;
}

.voicebigbox {
  margin-top: 20px;
  display: flex;
  margin-bottom: 60px;
}

.voicetxt {
  height: 76px;
  width: 500px;
  line-height: 2;
  font-size: 12px;
  justify-content: center;
  border-radius: 15px;
  background-color: aqua;
  padding: 20px;
  margin-left: 30px;
  text-align: left;
  position: relative;
  top:10px

}

.voicetxt::after {
  content: "";
  position: absolute;

  border-right: 15px solid #00CC99;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;

  left: -15px;
 top:30px;

}

.voiceboxl {
  display: flex;
  animation: SlideInl 1s;
  
}

.voiceboxr {
  display: flex;
  margin-left: auto;
  animation: SlideInr 1s;
}

@keyframes SlideInl{
  0%{
    transform: scale(0.1);
    opacity: 0;
}

100% {
    transform: scale(1);
    opacity: 1;
    transition: 5s;

}

}
@keyframes SlideInr{
  0%{
    transform: scale(0.1);
    opacity: 0;
}

100% {
    transform: scale(1);
    opacity: 1;
    transition: 5s;

}

}

.voicertxt {
  height: 80px;
  width: 500px;
  line-height: 2;
  border-radius: 15px;
  background-color: aqua;
  padding: 20px;
  margin-right: 30px;
  text-align: left;
  position: relative;
  display: block;
}

.voicertxt::before {
  content: "";
  position: absolute;

  border-left: 15px solid #00CC99;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
z-index: 10;
right: -15px;
top:30px;
display: block;
}


.sannay {
  text-align: center;
  padding-top: 50px;
  background:url(public/icon-pc.png);
  animation: fall 10s infinite linear;

  padding-bottom: 10px;
  display: flex;
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

.sannay h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 120px;
  position: relative;
}

.sannay h2::after {
  content: "";
  border-bottom: solid 3px #000000;
  position: absolute;
  height: 10px;
  width: 100px;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  display: block;
}

.sannaybigbox ul {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  margin-bottom: 30px;
  ;
}

.sannaybox {
  width: 410px;

  display: inline-block;
  border-radius: 15px;
  background-color: #cdcccc;
  text-align: center;

  padding: 50px;
  margin-bottom: 30px;

}



.sannaybox h3 {
  font-size: 20px;
  margin-bottom: 15px;

}

.sannaybox span {
  font-size: 14px;


}

.sannaytxt {
  margin-top: 30px;
  text-align: left;
  line-height: 2;
}

.entry {
  margin-top: 130px;
  margin-bottom: 120px;
  text-align: center;
  font-size: 16px;
}

.entry span {
  font-size: 24px;

}

.entrytxt {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 12px;
}

.entbtn {
  padding: 20px;
  width: 100%;
  margin: auto;
  background-color: #eb6e6e;
  font-size: 24px;
  display: block;
  border-radius: 25px;
  color: #fff;
  border: solid 1px #eb6e6e;
  transition: .4s;
}









.entbtn:hover {
  color: #eb6e6e;
  background: #fff;
  transition: .4s;
}


.footerbox h3 {
  font-size: 16px;
}

.footerbox ul li {
  margin-top: 10px;
  margin-left: 10px;
}

.footer {
  background-color: cadetblue;

}

.footerbigbox {


  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

}

.footerbox {
  margin: 60px 20px 20px 20px;
  width: 25%;
}

.footertxt {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
}