@charset "UTF-8";

*{margin: 0;
  padding: 0;  
}

* {
  box-sizing: border-box;
}
*{ background-color: rgb(191, 255, 255);
  
}


.container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: f4f9ff;
  background-color: rgb(191, 255, 255);
}

.header{
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}

.header .h1{
    margin-bottom: 10px;

}
.mainvisual{
  width: 100%;
  
  margin-bottom: 60px;
}
.mainvisual img {
  max-width: 100%;
}
.index{
  text-align: center;
  justify-content: center;
  width: 600px;

  margin: 0 auto;
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

.indexinner{
 width: 600px;
 
}
.indexinner h2{
  margin-bottom: 10px;
  text-align: left;
  margin-top: 90px;
  font-size: 13.5px;
}

.indexinner ol{
text-align: left;

}

.indexinner li{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 10.5px;
}

.detail{
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;
 
}
.detail h2{
   margin-bottom: 10px;
  text-align: left;
  margin-top: 10px;
  font-size: 13.5px;
}
.detailinner{
   width: 600px;
     display: flex;
     text-align: center;
     justify-content: center;
     margin: 0 auto;
}
.detailimg img{
  height:250px ;
  width: auto;
}
.detailbox{
 margin-left: 30px;
 margin-bottom: 10px;
}
.detailbox dl{
  display: flex;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
font-size: 10.5px;
margin-bottom: 25px;
height: 150px;
}
.detail dt dd{
  width: 70px;
  display: flex;
}