@charset "UTF-8";

*{margin: 0;
  padding: 0;  
}

* {
  box-sizing: border-box;
}
*{ background-color: rgb(191, 255, 255);
  
}


.container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: f4f9ff;
  background-color: rgb(191, 255, 255);
}

.header{
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}

.header .h1{
    margin-bottom: 10px;

}
.mainvisual{
  width: 100%;
  
  margin-bottom: 60px;
}
.mainvisual img {
  max-width: 100%;
}
.index{
  text-align: center;
  justify-content: center;
  width: 600px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 90px;
 
}

.indexinner{
 width: 600px;

}
.indexinner h2{
  margin-bottom: 10px;
  text-align: left;
  margin-top: 90px;
  font-size: 13.5px;
}

.indexinner ol{
text-align: left;

}

.indexinner li{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 10.5px;
}

.detail{
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;

 
}
.detail h2{
   margin-bottom: 10px;
  display: block;
  margin-top: 10px;
  font-size: 13.5px;
  text-align: left;
}
.detailinner{
     width: 600px;
     margin: 0 auto;
     margin-top: 20px;
     text-align: center;
     justify-content: center;
    
}
.detailimg img{
  width: 270px ;
 
}
.detailimg{
  display: flex;
}
.detailbox{
 margin-left: 60px;
 margin-bottom: 20px;
 text-align: left;
 
}
.detailbox a{
font-size: 13.5px;
margin-bottom: 10px;

}
.detailbox dl{
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
font-size: 10.5px;
margin-bottom: 25px;
padding: 16px 0 ;
}
.detail dt {
  width:25% }

  .detail dd{
    width: 75%}
.txt{
  font-size: 13.5px;
  margin-bottom: 20px;
}

 .txt2{
      margin-bottom: 20px;
      font-size: 10.5px;
    }