@charset "UTF-8";

*{margin: 0;
  padding: 0;  
}
* {
  box-sizing: border-box;
}

.header{
    height: 60px;
    max-width: 960px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 60px;
  
  }
#headerinner{
  height: 60px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 60px 0 60px;
 
}
.abli {
  list-style: none;

  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 10.8px;
}

.logo{
  
 padding:  10px 0px 10px 0px;
  text-align: left;
  display: inline-block;
  width: 120px;
  height: 60px;
    background-color: rgb(28, 81, 188);
}


nav ul{
  display: flex;
}

.nab li {
  list-style: none;

  margin-top: 9px;
  margin-bottom: 9px;
  padding-left: 50px;

}

.mainvisual img{
  height: 600px;
  width: 100%;
 margin-bottom: 80px;
 object-fit: cover;
}

.aboutsec{
  height:200px;
  max-width: 960px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 100px auto;
}


.h2{

  display: inline-block;
  border-bottom:1px solid;
  border-color: black;

  padding-bottom: 1px;
  font-size: 24px;
  margin-bottom: 60px;
  }
      

.aboutbox{
  height:100px ;
  width:840px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.aboutimg{
  border-radius: 50%;
  height: 100px;
  justify-content: left;

 
}
.aboutwapper2{
  height: 90px;
  width: 310px;
  margin:25px 0 15px 28px;
  text-align:  left;
  font-size: 10.8px;
  
}

.li .h3{
  font-size: 12px;
  margin-bottom: 10px;
  
}
.aboutwapper2 .a{
  font-size: 10px;

}
.h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

#bicyclesec{
  
  max-width: 960px;
  text-align: center;
  margin: 0 auto 100px auto;
  padding:0 60px 0 60px ;
}

.bicul{  
 
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
  

.bicli{
   max-width: 33%;
  list-style: none;

}
 .bimg{
  width: 270px;
  height: auto;
 }

 .footer{
  height: 35px; 
  margin: 10px 0 5px 0;

  text-align: center;
  justify-content: center;
 }