@charset "UTF-8";

*{margin: 0;
  padding: 0;  
}
* {
  box-sizing: border-box;
}

.header{
    height: 60px;
    max-width: 960px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 100px;
   margin-right: 60px;
  
  }
#headerinner{
  height: 60px;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
 
}

.logo{
  margin: 10px 0px 10px 50px;
  text-align: left;
  display: inline-block;
  width: 120px;
}


nav ul{
  display: flex;
}

li {
  list-style: none;

  margin-top: 9px;
  margin-bottom: 9px;
  padding-left: 50px;

}

.mainvisual img{
  height: 600px;
  width: 100%;
 margin-bottom: 80px;
 object-fit: cover;
}

.aboutsec{
  height:200px;
  max-width: 960px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 100px auto;
}


.h2{
  margin-bottom: 50px;
  display: inline-block;
  border-bottom:1px solid;
  border-color: black;
  width:75px;
  padding-bottom: 1px;
  font-size: 24px;
  }
      

.aboutbox{
  height:120px ;
  width: 550px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.aboutimg{
  border-radius: 50%;
  height: 100px;
  justify-content: left;
  margin-left: 10px;

  margin-bottom: 50px;
 
}
.aboutwapper2{
  height: 110px;
  width: 310px;
  margin:0 0 15px 20px;
  text-align:  left;
  font-size: 10.8px;
  
}

.h3{
  font-size: 12px;
  margin-bottom: 5px;
  
}
.aboutwapper2 .a{
  font-size: 10px;

}


#bicyclesec{
  height: 600px;
  max-width: 960px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto 100px auto;
  padding: 30px;
}

.bicul{  
  max-width: 960px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
  

.bicli{
   max-width: 32%;
}
 .bimg{
  width: 280px;
  height: auto;
 }