@charset "UTF-8";

*{margin: 0;
  padding: 0;  
}
* {
  box-sizing: border-box;
}

.header{
    height: 60px;
    max-width: 960px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 60px;
  
  }
#headerinner{
  height: 60px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 60px 0 60px;
 
}
.abli {
  list-style: none;

  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 10.8px;
}

.logo{
  
 padding:  10px 0px 10px 0px;
  text-align: left;
  display: inline-block;
  width: 120px;
  height: 60px;
    background-color: rgb(28, 81, 188);
}


nav ul{
  display: flex;
 
}

.nab li {
  list-style: none;

  margin-top: 9px;
  margin-bottom: 9px;
  padding-left: 50px;

}
.nav{
  width: 880px;
  display: flex;
justify-content: space-between;
  
}
.mainvisual img{
  height: 600px;
  width: 100%;
 margin-bottom: 80px;
 object-fit: cover;
}

.aboutsec{
  height:200px;
  max-width: 960px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 100px auto;
}


.h2{

  display: inline-block;
  border-bottom:1px solid;
  border-color: black;

  padding-bottom: 1px;
  font-size: 24px;
  margin-bottom: 60px;
  }
      

.aboutbox{
  height:100px ;
  width:840px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.aboutimg{
  border-radius: 50%;
  height: 100px;
  justify-content: left;

 
}
.aboutwapper2{
  height: 90px;
  width: 310px;
  margin:25px 0 15px 28px;
  text-align:  left;
  font-size: 10.8px;
  
}

.li .h3{
  font-size: 12px;
  margin-bottom: 10px;
  
}
.aboutwapper2 .a{
  font-size: 10px;

}
.h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

#bicyclesec{
  
  max-width: 960px;
  text-align: center;
  margin: 0 auto 100px auto;
  padding:0 60px 0 60px ;
}

.bicul{  
 
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
  

.bicli{
   max-width: 33%;
  list-style: none;

}
 .bimg{
  width: 270px;
  height: auto;
 }

 .footer{
  height: 35px; 
  margin: 10px 0 5px 0;

  text-align: center;
  justify-content: center;

 }



 /* スライドを入れる箱 */
.slider-wrapper {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 50px;
}
.slider-item {
  margin: 0 20px; /* スライドの間隔をあける */
}
.slider-item img {
  max-width: 100%; /* スライドに入れる画像の幅をコンテナいっぱいとする */
}
/* 前へ・次への矢印のスタイル */
.slide-arrow {
  width: 15px;
  height: 15px;
  transition: transform 0.3s;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.slide-prev {
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  transform: rotate(-45deg);
  left: -25px;
}
.slide-prev:hover {
  transform: translateX(-3px) rotate(-45deg);
}
.slide-next {
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
  right: -25px;
}
.slide-next:hover {
  transform: translateX(3px) rotate(45deg);
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
}

/* ドットのスタイル */
.slide-dots {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  list-style: none;
}
.slide-dots li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}
.slide-dots li button {
  border: 0;
  background: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}
.slide-dots li button::before {
  content: "☆";
  font-size: 16px;
  color: black;
}
.slide-dots li.slick-active button::before {
  content: "★";
}

/* 画面幅400px以下のスタイル */
@media screen and (max-width: 400px) {
  .slider-wrapper {
    margin: 0;
    padding: 10px;
  }
  .slider-item {
    margin: 0 10px;
  }
}