@charset "UTF-8";

*{margin: 0;
  padding: 0;  
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;

}
img {
  border-style: none;}
main .text {
  padding: 10px 40px 30px 40px;
  font-size: 11px;
}
li {
  list-style: none;
}
.inner{
  width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.header{
  
width: 100%;
 position: fixed;
  z-index: 10;
  background-color:white;
}
.title{ 
 width: 1200px;
 
}

.h1{
  padding: 16px 0;
  font-size: 26px;
  
}

.nav{
   height: 32px;
background-color:black;}

.headerul{

font-size: 10.5px;
margin:0  auto;
height: 32px;
text-align: center;
justify-content: left;
display: flex;
}

.headerul li{

 padding:10px 60px 10px 0;
list-style: none;
 
}

.pickup{

  margin: 0 auto ;
display: flex;
justify-content: space-between;
padding: 150px 0 0 0;
margin-bottom: 70px;
}
.pickupart{
  display: inline-block;
  width: 32%;}
  
 


.pickupart h2{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.pickuplink{
  font-size: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
}
.main{
  width: 65%;

}
.main article{
  margin-bottom: 80px;
}
.main article h2{
  margin-bottom: 15px;
}
.main  article ul{
  display: flex;
}
.main article li{
  margin-right: 20px;
  margin-bottom: 8px;
  font-size: 7px;
}
.readmore{
  font-size: 10px;
  justify-content: center;
  text-align: center;
  
}
 .container{
  
  display: flex;
  justify-content:space-between;
margin-bottom: 220px;
  }
.aside{
  width: 33%;

padding: 20px;

}

.img{
  width: 300px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.img img{
  width: 130px;
  border-radius: 50%;
  margin-bottom: 26px;
}
.name{
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}
.pro{
  width: 390px;
  padding: 15px 30px 60px 10px;
  font-size: 11px;
}
.ranking{
 margin-bottom: 60px;

}
.ranking img{
  margin-top: 25px;
  max-width: 350px;

}
.ranking h3{
  text-align: center;
  font-size: 12px;
}
.ranking h4{
  font-size: 9px;
}

.archive{
  width: 380px;
 padding-right: 30px;

}
.archive h3{
  font-size: 12px;
  margin-bottom: 30px;
  text-align: center;
}
.archive li{
  border-top: solid 1px black;
  text-align: left;
  padding: 20px;
 font-size: 9px;
}

.archive ul{
  border-bottom: solid 1px black;
}

